@media only screen and (max-width: 600px) {
    /* *{
        margin: 0px;
        padding: 0px;
    } */
    .welcome-bottom-bg {
        min-height: 33vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        font-size: calc(10px + 2vmin);
        color: white;
    }

    .bottomFirstDiv{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 50px;
        padding-right: 30px;
        background-color: white;
        color: black
    }

    .special1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .bottomSecondDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        margin: 10px;
        padding: 10px;
        border-radius: 30px;
    }

    .bottomSecondDivChild{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 50%;
        height: 50%;
    }

    .bottomThirdDiv{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        padding-left: 20px;
        color: black;
    }

    .bottomSecondDiv-A{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .bottomSecondDiv-B{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }
}

@media only screen and (min-width: 601px) {
    /* *{
        margin: 0px;
        padding: 0px;
    } */
    .welcome-bottom-bg {
        min-height: 33vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        font-size: calc(10px + 2vmin);
        color: white;
    }

    .Div-A{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50vw;
    }

    .Div-B{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 50vw;
    }

    .bottomFirstDiv{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-left: 50px;
        padding-right: 30px;
        background-color: white;
        color: black
    }

    .special1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 45%;
    }

    .bottomSecondDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        margin: 10px;
        padding: 10px;
        border-radius: 30px;
    }

    .bottomSecondDivChild{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 50%;
        height: 50%;
    }

    .bottomThirdDiv{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding-left: 20px;
        color: black;
    }

    .bottomSecondDiv-A{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .bottomSecondDiv-B{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* justify-content: space-between; */
    }

    .ABC{
        margin: 20px;
    }
}